/* careerInfo.css
CSS file for careerInformation.tsx. */

.title-career-info {
    position: relative;
    margin-top: 50px;
    top: 50px;
}

.greeting-career {
    position: relative;
    margin-top: 100px;
    top: -40px;
}

.content-button {
    position: relative;
    top: -40px
}

.content-heading {
    position: relative;
    top: 30px;
}

.content-body {
    margin-top: 40px;
}

.pdf-title {
    margin-top: 50px;
}

.pdf {
    width: 850px;
    height: 1150px;
}